html {
  background: url("https://images7.alphacoders.com/118/1189484.jpg") no-repeat center fixed;
  background-size: cover;
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

* {
     font-family: 'WaltographRegular';
     font-weight: normal;
     font-style: normal;
     color: #665544;
     text-align: center;
}
 body {
     width: 90%;
     margin: 0 auto;
}
 #nav, #content{
     margin: 1%;
}
 li {
     display: inline;
     padding: 0.5em;
}
 #nav{
     background-color: #efefef;
     padding: 0.5em 0;
}
 .module {
     height: 10em;
     padding-top: 1em;
     width: 10em;
     overflow: auto;
     float:left;
     margin: 10px;
     background-color: #efefef;
   
}
 .row{
     display: flex;
     justify-content: center;
     align-items: center;
     position:relative;
     margin-left:10%;
     margin-right:10%;
}
 .clear{
     clear: both;
}
