* {
     font-family: Arial, Verdana, sans-serif;
     color: #665544;
     text-align: center;
}
 body {
     background-image: url("https://images7.alphacoders.com/118/1189484.jpg");
     width: 90%;
     margin: 0 auto;
}
 #nav, #content{
      background-image: url("https://images7.alphacoders.com/118/1189484.jpg");
     margin: 1%;
}
 li {
     display: inline;
     padding: 0.5em;
}
 #nav{
     background-color: #efefef;
     padding: 0.5em 0;
}
 #content {
     height: 10em;
     margin-bottom: 1em;
     padding-top: 1em;
     background-color: #efefef;
}
